<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>NearbyServlet</servlet-name>
    <servlet-class>com.andieguo.nearby.servlet.NearbyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.andieguo.nearby.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QueryServlet</servlet-name>
  	<servlet-class>com.andieguo.nearby.servlet.QueryServlet</servlet-class>
  	
  </servlet>


  <servlet-mapping>
    <servlet-name>NearbyServlet</servlet-name>
    <url-pattern>/api/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/api/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QueryServlet</servlet-name>
  	<url-pattern>/api/query</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
